/**
 * 声音元件
 * -u-audio
 */
.u-audio { position: absolute; bottom: 40px; right: 0; width: 132px; height: 73px; z-index: 200; }
.u-audio .res_audio { position: absolute; top: 0; left: 0; opacity: 0; height: 0; width: 0; }
.u-audio .btn_audio { width: 100%; padding-top: 29px; height: 44px; }
.u-audio .btn_audio strong,
.u-audio .btn_audio .audio_open { display: inline-block; height: 44px; line-height: 44px; vertical-align: middle; }
.u-audio .btn_audio strong { width: 57px; font-size: 24px; color: #fff; opacity: 1; }
.u-audio .btn_audio .audio_open { position: absolute; bottom: 0; left: 56px; width: 44px; }
.u-audio .btn_audio strong.z-hide { opacity: 0; }
.u-audio .btn_audio strong.z-move { 
	-webkit-transition:opacity 0.5s;
  	   -moz-transition:opacity 0.5s;
	    -ms-transition:opacity 0.5s;
	     -o-transition:opacity 0.5s;
	        transition:opacity 0.5s;
}
.u-audio.z-low { z-index: 1; }

/* 改变动画的效果方式*/
* {
  -webkit-transition-timing-function: ease-in-out;
     -moz-transition-timing-function: ease-in-out;
      -ms-transition-timing-function: ease-in-out;
       -o-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
}

/*sprite图片合并*/
.css_sprite01 { background-image:url(../img/css_sprite01.png)!important;  background-repeat: no-repeat!important; } 

/**
 * = function 功能样式
 *******************************************************************************************************/
.f-ofh {overflow: hidden; height: 100%!important; } 		/*隐藏内容-overflow-hidden*/
.f-hide { display: none!important; } 						/*隐藏内容*/

.f-tc { text-align: center; }
.f-tr { text-align: right; }
.f-fl { float: left; }
.f-fr { float: right; }
.f-fixed { position: fixed; }
.f-cur { cursor: pointer; }

.btn_audio .audio_open {
    display: inline-block;
    height: 44px;
    line-height: 44px;
    vertical-align: middle;
}
.u-audio .btn_audio .audio_open {
    position: absolute;
    bottom: 0;
    left: 56px;
    width: 44px;
}
.css_sprite01 {
    background-image: url(../img/css_sprite01.png)!important;
    background-repeat: no-repeat!important;
}
.u-audio .btn_audio {
    width: 100%;
    padding-top: 29px;
    height: 44px;
}